{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	<title>Posta - Mensajes de voz</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <meta name="description" content="Graba tu Mensaje para Posta.fm">
    <meta name="author" content="Ninja Clan">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'fonts/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-inicio">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<a href="index.html"><img class="logo-web" src="{% static 'img/logo-posta.png' %}" alt="Posta"></a>
				</nav>
				<!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

                    <!-- Content Row -->
                    <div class="row mb-4">

                        <div class="col-xl-6 col-md-6 mb-4 pl-3r">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
										<h1 class="h3 mb-4 text-gray-800">Dejanos tu mensaje de voz</h1>
											<form class="form-inline mr-auto w-100">
												<div class="input-group w-100">
													<input type="text" id="id_name" placeholder="Nombre" aria-label="Nombre" class="form-control bg-light border-0 small">
												</div>
												<div class="input-group w-100 mt-3 mb-3">
													<input type="email" id="id_email" placeholder="E-mail" aria-label="Email" class="form-control bg-light border-0 small">
												</div>
												<div class="input-group w-100">
													<select id="id_podcast" name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"></select>
												</div>
											</form>
                                        </div>
                                    </div>
									<div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div id="audio_input">
												<div id="timers">
													<span id="up_timer"></span>
													<span id="down_timer" style="float: right;"></span>
												</div>
												<div id="controls">
													<button href="#" id="recordButton" class="btn btn-danger btn-icon-split mr-3">
														<span class="icon text-white-50">
															<i class="fas fa-microphone"></i>
														</span>
														<span class="text">Grabar</span>
													</button>
													<button href="#" id="stopButton" disabled class="btn btn-secondary btn-icon-split">
														<span class="icon text-white-50">
															<i class="fas fa-stop"></i>
														</span>
														<span class="text">Parar</span>
													</button>
												</div>
												<ol id="recordingsList"></ol>
												<p style="color: darkred;" id="msg_ban"></p>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>

            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Todos los derechos reservados &copy; Posta 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- JS -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/jquery.easing.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
	<script src="{% static '/js/WebAudioRecorder.min.js' %}"></script>
	<script src="{% static '/js/app.js' %}"></script>

</body>

</html>